@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

@media not all and (hover:hover) {
  :root {
    --app-height: 100%;
  }

  body {
    height: var(--app-height);
  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* This will create a responsive grid layout */
  gap: 10px; /* This adds space between the buttons */
  padding: 10px; /* This adds space around the buttons */
}

.chat-container {
  @apply mx-auto max-w-2xl border rounded h-screen flex flex-col;
}

.chat-messages {
  @apply w-full p-6 overflow-auto flex-grow;
}

.message-container {
  @apply relative max-w-xl px-4 py-2 rounded-md shadow-md mb-2;
}

/* Initial bot message */
.message-container-bot-initial {
  @apply bg-purple-200 border-l-4 border-purple-500 p-4;
}

/* Pre-stream bot message */
.message-container-bot-pre-stream {
  @apply bg-transparent border-none;
  box-shadow: none;}

/* Streamed bot message */
.message-container-bot-streamed {
  @apply bg-green-200 border-l-4 border-green-500 p-4;
}

/* User message */
.message-container-user {
  @apply bg-blue-200 border-r-4 border-blue-500 p-4;
}

.message-container.streamed-response {
  @apply bg-orange-200 border-none text-black p-2 text-center no-underline inline-block text-sm m-1 cursor-pointer rounded;
  overflow-wrap: break-word;
  white-space: normal;
  min-height: 30px;

}


.message-input {
  @apply w-full h-10 px-3 py-2 text-gray-700 placeholder-gray-300 border rounded-md focus:outline-none;
}

.send-button {
  @apply ml-2 px-4 py-2 text-white bg-blue-500 rounded-full shadow-md hover:bg-blue-600 focus:outline-none;
}

.send-button-disabled {
  @apply ml-2 px-4 py-2 text-gray-500 bg-gray-300 rounded-full shadow-md cursor-not-allowed;
}
@layer components {
  .holographic-effect {
    @apply bg-gradient-to-r from-gradient-start to-gradient-end text-white border-none;
    background-size: 600% 100%;
    animation: gradient 2s linear infinite;
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
